.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box div {
    width: 100px;
    height: 100px;
  }

 

  @container sidebar (min-width: 400px) {
    /* <stylesheet> */
      .container {
        container-type: inline-size;
        container-name: sidebar;
      }
    
      .container {
        container: sidebar / inline-size;
      }
  }

 img {
    width: 100px;
    height: 100px;
}